/* .container{
    margin-top: 2rem;
    background-color: aqua;
    border: 2px solid cyan;
    padding: 35px 50px;
    width: 95%;
    border-bottom: 2rem;
    height: 100vh;
    border-radius: 1rem;
}

h4{
    text-align: center;
}

.icon{
    width: 26px;
    height: auto;
    margin: 0.5rem;
}

.row{
    width: 100%;
    display: flex;
}

.col{
    gap: 2rem;
}

.myrow{
    width: 100%;
    display: flex;
} */