@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* GENERAL STYLING */
*,
*:before,
*:after {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font sizes */
.t-lg {
    font-size: 1.5rem;
}

.t-md {
    font-size: 1.3rem;
}

.container{
    width: 100%;
}

/* colors */
.color-main {
    color: #5BC9E4;
}

.color-accent {
    color: #3E3E40;
}

.headerWeight {
    font-weight: bolder;
    text-align: center;
}

.header-normal {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.logo {
    width: 20rem;
    height: auto;
    position: absolute;
    padding: 0.5rem;
    text-align: center;
}

.logo-appForm {
    width: 20rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    height: auto;
    padding: 0.5rem;
}

.logo{
    width: 10rem;
}

/* PERKS SECTION STYLING */
.perksContainer {
    place-items: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.cardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
}

.image {
    width: 13rem;
    height: auto;
    margin: 1rem;
}

.card-item {
    width: 80%;
    border-radius: 1rem;
    height: 25rem;
    border: #3E3E40 2px solid;
    margin-bottom: 2rem;
}

.cardTitle {
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 0;    
}

.cardContent{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* PERKS SECTION STYLING */

.contain{
    width: 100%;
    background-color: #3E3E40;
    align-items: center;
    justify-content: center;    
}


/* APPLICATION FORM SECTION STYLING */
.background-pic{
    position: relative;
    background-image: url('../Assets/images/bgImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0.5rem;
    border-radius: 2rem;
    border: 0.5rem solid rgb(209, 209, 209);
    place-items: center;
}

.first-row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
}

.form{
    justify-content: center;
    width: 100%;
}

.outerCont {
    margin: 1rem;
    margin-bottom: 5rem;
}

.formContainer {
    overflow: hidden;
    border: #5BC9E4 5px solid;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.input-field {
    display: flex;
    flex-wrap: row;
    border: #3E3E40 1px solid;
    border-radius: 0.5rem;
    background: transparent;
    height: 3rem;
    padding: 1.8rem;
    color: #3E3E40;
    place-items: center;
    margin-bottom: 2.5rem;
    width: 100%;
}

.input {
    background: transparent;
    border: none;
    width: 100%;
    margin-left: 0.8rem;
}

.input:focus{
    outline: none;
}

.resume-input {
    position: absolute;
    overflow: hidden;
    width: 20px;
}


.resume-label {
    margin-left: 0.8rem;
    color: #3E3E40;
    cursor: pointer;
    overflow: hidden;
}

.button-container{
    text-align: center;
    overflow: hidden;
}

.button{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    border: #3E3E40 2px solid;

}

.icons{
    width: 20px;
    height: auto;
}

/* APPLICATION FORM SECTION STYLING */


/* NAVBAR */
.navbar-logo{
    width: 20rem;
    margin-left: 1rem;
}

.navbar-nav{
    margin: 20px;
}

.nav-item{
    padding-right: 20px;

}

.nav-links{
    padding-right: 40px;
    text-decoration: none;
    color:#3E3E40;
    cursor: pointer;
}


.nav-links:hover{
    color:#5BC9E4;
}

.nav-links::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #5BC9E4;
    display: block;
    opacity: 0;
    transition: all 0.2s;
}

.nav-links:hover::after{
    opacity: 1;
}

/* FOOTER */

.svg-footer-icons{
    width: 35px;
    margin-top: 20px;
}

.footer-font{
    font-size: 15px;
    color: #3E3E40;
}


/* MEDIA QUERIES */
@media screen and (max-width: 990px) {
    .row {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}
@media (max-width: 700px){
    .background-pic{
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 576px) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2px;
        place-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2px;
        place-items: center;
    }

    .card-item{
        width: 16rem;        
    }

    .card {
        margin-bottom: 2.5rem;
        height: 30rem;
        overflow: hidden;
    }
}

@media screen and (min-width: 992px) {
    .cardContainer {
        display: flex;
        flex-direction: row;
        place-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 1200) {
    .background-pic{
        width: 70rem;
        justify-content: center;
        left: 6%;
    }

    
}

@media screen and (max-width: 648px) {
    .nav-links::after{
        content: '';
        width: 100%;
    }
}
